.nav {
    height: 7rem;
    width: 100%;

    top: 0;
    padding: 0 3rem;
    position: fixed;
    z-index: 2;

    background-color: $white;
    border-bottom: $border-black;

    font-size: $default-font-size;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__logo-group {
        width: 20%;
    }

    &__logo {
        height: 3rem;
        margin: auto 0;
    }

    &__link-group {
        display: flex;
        flex-direction: row;
        border-left: $border-black;
        border-right: $border-black;
    }

    &__link {
        @include flexcenter;

        @include hoverFieldLink;

        height: 7rem;
        width: 15rem;
        padding: 0 2rem;

        color: $black;

        &:not(:last-child) {
            border-right: $border-black;
        }

    }

    &__link-href {
        text-decoration: none;
        color: inherit;
    }

    &__cart {
        width: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    &__icon {
        width: $default-font-size;
        margin-right: .5rem;
    }
}