.nav {
    width: 100%;

    top: 0;
    padding: 0 3rem;
    position: fixed;
    z-index: 2;

    background-color: $white;
    border-bottom: $border-black;

    font-size: $default-font-size;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port){
        flex-wrap: wrap;
        padding: 0 2rem;
    }

    &__logo-group {
        width: 20%;
        height: 7rem;

        @include respond(tab-port){
            order: 2;
        }
    }

    &__logo {
        height: 3rem;
        margin: 2rem 0;
    }

    &__link-group {
        display: flex;
        flex-direction: row;
        border-left: $border-black;
        border-right: $border-black;

        @include respond(tab-port) {
            flex-direction: column;
            display: none;
            width: 100%;
            background-color: $white;
            border-left: none;
            border-right: none;
            order: 4;
        }
    }

    &__li {
        list-style-type: none;

        &:not(:last-child) {
            border-right: $border-black;

            @include respond(tab-port){
                border-right: 0;
                border-bottom: $border-black;
            }
        }
    }

    .nav-open ~ &__link-group {
        display: flex;
    }

    &__link {
        @include flexcenter;

        @include hoverFieldLink;

        height: 7rem;
        width: 15rem;
        padding: 0 2rem;

        @include respond(tab-port){
            width: 100%;
        }

        

        &--active {
            background-color: $grey;
        }

    }

    &__link-href {
        text-decoration: none;
        color: inherit;
    }

    &__cart {
        width: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        @include respond(tab-port){
            width: auto;
            order: 3;
        }
    }

    &__icon {
        width: $default-font-size;
        margin-right: .5rem;
    }
}

.nav__hamburger {
    width: 2rem;
    height: 2rem;
    display: none;
    position: relative;
    cursor: pointer;

    order: 1;

    @include respond(tab-port){
        display: inline-block;
    }

    &-inner {
        top: 50%;
        position:absolute;
    }

    &-inner::before, &-inner::after {
        width: 2rem;
        height: 1px;
        content: "";
        position: absolute;
        display: block;
        background-color: $black;
    }

    &-inner::before {
        transform: translateY(-.5rem);
    }

    &-inner::after {
        transform: translateY(.5rem);
    }

    .nav-open &-inner::before  {
        transform: translateY(0px) rotate(45deg);
    }

    .nav-open &-inner::after  {
        transform: translateY(0px) rotate(-45deg);
    }
}