.product-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin: 5rem auto 0;
    }
}