.bike-selector-header {
    height: calc(100vh - 7rem);
    margin-top: 7rem;

    background-image: url("../assets/img/urban-bike-bg-bike_selector.jpg");
    background-position: center bottom;
    background-size: cover;

    display: flex;
    align-items: center;

    &__heading-box {
        margin: 0 10rem;
        display: flex;
        flex-direction: column;

        @include respond(phone) { 
            margin-left: 0;
            margin: 0 1rem;
        }
    }

    &__paragraph {
       
        font-size: 2rem;

        @include respond(phone) { 
            font-size: 2.3rem;
        }
    }

}

.bike-selector-content {
    max-width: 120rem;
    margin: 5rem auto 0;
}


.bike-form {
    &__section {
        @include flexcenter;
        flex-direction: column;
        justify-content: space-evenly;
        height: calc(100vh - 7rem);
        margin-top: 7rem;

        @include respond(phone){
            padding: 0 2rem;
        }
    }

    fieldset {
        border: none;
    }

    &__label {
        font-size: 2rem;
        margin-left: .5rem;

        &:not(:last-child){
            margin-right: 2rem;
        }
    }
}