.contact {
    margin-top: 7rem;
    padding: 3rem;
    height: 70vh;

    display: flex;
    flex-direction: row;
    align-items: center;

    &__info {
        width: 50%;
    }

    &__form-section {
        width: 50%;
    }
}

.contact .heading-primary {
    margin-bottom: 2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;

    &__input {
        -webkit-appearance: none;
        border: $border-black;
    }

    &__textarea {
        -webkit-appearance: none;
        border: $border-black;
    }

    &__submit {
        -webkit-appearance: none;
         border: $border-black;

        @include flexcenter;

        @include hoverFieldLink;

        height: 5rem;
        margin-top: 1rem;
        padding: 0 2rem;

        color: $black;
        font-family: 'Space Mono', monospace;
        text-decoration: none;

    }

    &__message {
        margin-top: 1rem;
    }
}